# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs and database
*.log
*.sqlite3

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Environment variables
.env
