<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/theme-switcher.js" defer></script>
    <meta charset="UTF-8">
    <title>Setup Admin Credentials</title>
</head>
<body>
    <h1>Setup Admin Credentials</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <button type="submit">Setup</button>
    </form>
</body>
</html>
